
@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_layoutCover.cshtml";
}

@*<script type="text/javascript">
    $(function () {
            $(".nav-link").each(
                function () {
                    $(this).removeClass("active");
                    if ($(this).text() == '@ViewBag.Title') {
                        $(this).addClass("active");
                    }
                }
            );
        });
</script>*@


<h1 class="cover-heading">Welcome,my friend</h1>
<p class="lead">Live beautifully, dream passionately, love completely.</p>
<p class="lead">
    <a href="/Index/SignIn" class="btn btn-lg btn-secondary">Sign in</a>
</p>