
@{
    ViewBag.Title = "Sign up";
    Layout = "../Shared/_layoutCover.cshtml";
}

<link href="~/Content/signin.css" rel="stylesheet">

@*<script type="text/javascript">
        $(function () {
            $(".nav-link").each(
                function () {
                    $(this).removeClass("active");
                    if ($(this).text() =='@ViewBag.Title') {
                        $(this).addClass("active");
                    }
                }
            );
        });
</script>*@

<form class="form-signin" action="./SignUp" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Sign up to XXX</h1>
    <label for="Name" class="float-left">User name</label>
    <label class="float-right text-danger">@ViewBag.ErrorMessage</label>
    <input id="Name" name="Name" class="form-control" placeholder="User name" required autofocus 
           oninvalid="setCustomValidity('please enter your name.')" oninput="setCustomValidity('')" type="text">
    <label for="Email" class="float-left">Email address</label>
    <input id="Email" name="Email" class="form-control" placeholder="Email address" required 
           oninvalid="setCustomValidity('please enter your email.')" oninput="setCustomValidity('')" type="email">
    <label for="Password" class="float-left">Password</label>
    <input id="Password" name="Password" class="form-control" placeholder="Password" required 
           oninvalid="setCustomValidity('please enter your password.')" oninput="setCustomValidity('')" type="password">
    @*<div class="checkbox mb-3">
        <label>
            <a href="#">Forgot password?</a>
        </label>
    </div>*@
    @*<a href="#" class="btn btn-lg btn-secondary">Learn more</a>*@
    <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign up</button>
</form>